#--------------------------------------------------------------------
# ENVIRONNEMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# BASE DE DONNÉES
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = enspm_edt
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port     = 3306

#--------------------------------------------------------------------
# URL DE BASE
#--------------------------------------------------------------------
app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------
session.driver   = CodeIgniter\Session\Handlers\FileHandler
session.savePath = WRITEPATH/session

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

encryption.key = GENERATE_A_RANDOM_KEY_AND_PLACE_IT_HERE

#--------------------------------------------------------------------
# EMAIL
#--------------------------------------------------------------------
email.fromEmail = 'no-reply@enspm.cm'
email.fromName = 'ENSPM Gestion EDT'
email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPAuthMethod = login
email.SMTPUser = 'YOUR_GMAIL_ADDRESS'
email.SMTPPass = 'YOUR_GMAIL_APP_PASSWORD'
email.SMTPPort = 587
email.SMTPCrypto = tls
email.SMTPTimeout = 5
email.SMTPKeepAlive = false